html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #ff67fc;
}

* {
    box-sizing: border-box;
}

a {
    background: #0070f3;
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}